$white-color: #ffffff;
$black-color: #000000;
$light-color: #F7F7F7;
$dark-color: #1a171b;
$yellow-color: #F2FF00;
$silver-color: #666666;
$second-silver-color:#F7F7F7;
$light-silver-color:#DDDDDD;
$dark-color: #34343F;

/* sizes */

$large-desktop: 1650px;
$middle-desktop: 1450px;
$small-desktop: 1280px;
$small-mobile: 365px;
$mobile-menu-w: 295px;

/* sizes */

